# Python
__pycache__/
*.pyc
.venv/
venv/
venv_proyecto/

# Caché
.cache
.cache.sqlite
# Env
.env

# Data outputs
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
# Remove if needed to perform tests
*.csv
*.parquet
*.pb
*.json

# OS
.DS_Store

# Google OAuth secrets
credentials.json
token.json
src/ETL/alertas_oficiales_tiempo_real/token_drive.json
src/ETL/alertas_oficiales_tiempo_real/credentials.json 
src/ETL/alertas_oficiales_tiempo_real/token.json 

# Dataset local
src/ETL/alertas_oficiales_tiempo_real/mta_dataset.csv

wandb

# Artefactos generados por los scripts de modelos (tensores, pesos, etc.)
src/models/propagacion_estacion/artefactos/

